
<div class="form-wrapper">
  <h1>Account Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="loginHandler(loginForm.value)" class="login-form">
    <div>
      <label for="email">Email*</label>
      <input formControlName="email" type="email" id="email" placeholder="Email" />
      <div class="errors">
    <span *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
      Invalid email!
    </span>
      </div>
    </div>
   <div>
    <label for="password">Password*</label>
    <input formControlName="password" type="password" id="password" placeholder="Password" />
   <div class="errors">
    <span *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
      Password is required!
    </span>
   </div>
   </div>
   <a routerLink="/user/register" class="link">
    Don't have an account yet?.
   </a>
    <button [disabled]="loginForm.invalid" class="button-click">Login</button>
  </form>
</div>