<div class=wrapper>
    <h1>    About Us</h1>
    <article>
        <section class="upper-section">
            <h4>Unique interior and splendid cuisine</h4>
            <p>
                Cozy compartments allow couples to organize their romantic lunch or dinner. There are discrete tables for businessmen to have discussions in quiet.
                <p>
                    The restaurant offers a wide variety of dishes. Guests can enjoy a rich collection of over 200 wines from Bulgaria and abroad, specially selected by our sommeliers. The staff will gladly recommend a dish that suits your taste and is appropriate for the particular occasion.
                </p>
                <img src="/assets/about.jpg"/>
        </section>
        <section>
            <h4>An ideal place for holidays</h4>
            <p>
               Olive Garden Restaurant is an ideal place for birthdays, weddings, proms and christenings.
            </p>
            <p>
                Our team of professionals will organize your event so that you can experience wonderful happy moments and enjoy the magnificent food and specially selected drinks.
            </p>
            <p>
                You can have unforgettable moments in Olive Garden restaurant.
            </p>
        </section>
        <section>
            <h4>Contact us:</h4>
            <p>
                Some street, 45
            </p>
            <p>
                Bulgaria, Sofiq
            </p>
            <p>
                Phone : +359 888 123 456
            </p>
            <p>
                Email : example@mail.bg
            </p>
        </section>
    </article>
</div>