.wrapper{

    background-size: cover;
    background-image: url('/assets/product-list.jpg') ;
    max-width: 100%;
    background-repeat: no-repeat;
    padding: 100px 210px ;
    padding-bottom: 120px;
}

.product{
    border-bottom: 2px solid black;
    display : flex;
    justify-content: space-between;
    padding: 0 100px;
}
h1{
    margin :0;
}

h1:first-letter {
    text-transform: uppercase;
}


.description{
    font-style: italic;
}

.product-info{
    width: 400px;
}
.weight{
    font-weight: 400;
}
.price{
    font-weight: 500;
}
.add-button{
    padding: 10px;
    margin-top: 40px;
    color: white;
    background-color: black;
    font-weight: 500;
    outline: none;
}

.add-button:hover{
    color: black;
    background-color: white;
    font-weight: 500;
}
