<section class="wrapper">
    <h1>{{category}} list </h1>

    <div class="product" *ngFor="let product of products">
        <div class="product-info">
            <h4>
                {{product.name | uppercase}}
            </h4>
            <p class="description">{{product.ingredients}}</p>
        </div>
        <div>
            <p class="weight">
                {{product.weight}}
            </p>
            <p class="price">
                {{product.price}} BGN
            </p>
        </div>
        <div>
            <button class="add-button" (click)="addToCartHandler(product)">
                Add to cart
            </button>
        </div>
    </div>
</section>