
<footer class="site-footer">
  <div class="upper-content">
    <div class="get-started">
      <h3>Get Started</h3>
      <a routerLink="/">Home</a>
      <a routerLink="/menu">Menu</a>
      <a routerLink="/user/login">Login</a>
      <a routerLink="/user/register">Register</a>
    </div>
    <div class="contacts">
      <h3>Contact us</h3>
      <p>Some Street, 45</p>
      <p>Sofia, Bulgaria</p>
      <p>Phone : +359 888 123 456</p>
      <p>Email: example@mail.com</p>
    </div>
    <div>
      <img src="assets/logo.png"/>
    </div>
  </div>
  <div class="bottom-content">
    <p>
      Copyright © 2017 All Rights Reserved by Olive Garden Restaurant.
    </p>
  </div>
</footer> 

